.page {
  min-width: 1100px;
  /* мы ещё не умеем делать мобильную версию сайта, */
  /* поэтому выше установлена минимальная ширина страницы */
  max-width: 1600px;
  /* выше установили ограничение по максимальной ширине */
  margin: 0 auto;
  /* выше для экранов больше 1600px отцентрировали весь контент */
  font-family: 'Helvetica Neue', 'Arial', sans-serif;
}

.logo {
  height: 32px;
  width: 228px;
  background-image: url("../images/logo_place_header.svg");
}

.logo_place_header {
  position: absolute;
  top: 30px;
  left: 64px;
}


/* div {
  border: 1px solid red;
} */

.header {
  height: 100vh;
  min-height: 600px;
  max-height: 756px;
  /* выше установили ограничения для секции */
  position: relative;
  display: flex;
  align-items: center;
  justify-content: flex-start;
  background-color: #f2f2f2;
}

.header__title {
  margin-left: 64px;;
  width:730px;
  font-size: 102px;
  font-weight: 600;
  line-height: 96px;
  z-index: 2;
}

.header__subtitle {
  width: 388px;
  position: absolute;
  bottom: 30px;
  left:64px;
  line-height: 25px;
  font-size: 18px;
  font-weight: normal;
  z-index: 2;
}

.header__link {
  text-decoration: none;
  color: #2f80ed;
}

.header__main-illustration {
  position: absolute;
  right: 0;
  bottom: 0;
  width: 765px;
  height: 608px;
  z-index: 1;
}

.header__square-pic {
  background-color: #2f80ed;
  position: absolute;
  top: 64px;
  right: 0;
  width: 568px;
  height:568px;
}

.two-columns {
  width: 80%;
  display: flex;
  justify-content: space-between;
  margin: 100px auto;
}

.two-columns__brief {
  margin: 0;
  padding: 0;
  width: 175px;
  color: #2f80ed;
  line-height: 1.2;
  font-size: 18px;
  font-weight: normal;
}

.two-columns__main-text {
  width: 80%; 
  min-width: 784px;
  display: flex;
  flex-direction: column;
}

.two-columns__paragraph {
  line-height:34px;
  font-size:24px;
  font-weight:normal;
}

.two-columns__paragraph:not(:last-child) {
  margin-bottom: 30px;
}

.two-columns__span-accent {
  line-height: 34px;
  font-size: 24px;
  font-weight: 600;
}

.feynman {
  position:relative;
  background-color: #f2f2f2;
  margin-top:100px;
  height: 890px;
  display: flex;
  flex-direction: column;
  align-items: center;
}

.feynman__title {
  width: 648px;
  line-height: 1.15;
  font-size:120px;
  font-weight: 600;
  margin-bottom: 70px;
  z-index: 2;
  text-align: center;
}

.feynman__subtitle {
  line-height: 51px;
  font-size:36px;
  font-weight: normal;
  z-index: 2;
  margin: 0;
}

.feynman__link {
  z-index: 2;
  position: absolute;
  top: 50%;
  right: 48px;
  line-height: 51px;
  font-size:36px;
  font-weight: normal;
  color: #2f80ed;
  text-decoration: none;
}

.feynman__img {
  position: absolute;
  left: 0;
  bottom: 0;
}

.kaufman {
  background-color: #000000 ;
  display: flex;
  flex-direction: column;
  position: relative;
  overflow: hidden;
}

.kaufman__img {
  width:877px;
  height: 877px;
  position: absolute;
  right: -210px;
  top: 0;
}

.section-title {
  width: 60%;
  display: flex;
  justify-content: center;
  margin: 100px auto 20px;
  line-height:1.15;
  font-size: 60px;
  font-weight: 600;
}

.section-title_theme_dark {
  margin: 90px auto 20px;
  text-align: center;
  z-index: 2;
  color:white;
}

.section-subtitle {
  width: 60%;
  align-self: center;
  text-align: center;
  line-height: 34px;
  font-size: 24px;
  font-weight: normal;
}

.section-subtitle_theme_dark {
  z-index: 2;
  color: white;
  margin:0;
}

.table {
  display:flex;
  width: 1100px;
  justify-content: space-between;
  margin: 0px auto 100px;
  flex-wrap: wrap;
}

.table_theme_dark {
  width: 1100px;
  display: flex;
  flex-flow: wrap row;
  margin: 80px auto 90px;
  justify-content: space-between;
  z-index: 2;
}

.cell {
  display: flex;
  width: 250px;
  margin-top: 60px;
  flex-direction: column;
  align-items: flex-start;
}

.cell_theme_dark{
  width: 200px;
  margin-top: 80px;
  z-index: 2;
}

.heading {
  line-height: 1.15;
  font-size: 24px;
  font-weight: 600;
}

.heading_theme_dark{
  margin-bottom: 20px;
  z-index: 2;
  color: white;
}

.text {
  line-height:1.2;
  font-size: 18x;
  font-weight: normal;
  margin-top: 20px;
}

.text_theme_dark{
 color:white;
 margin:0;
}

